{% extends 'base.html' %}
{% block main %}
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ expense_form.as_p }}
                <button>Create</button>
            </form>
        </div>
{% endblock main %}
<!DOCTYPE html>
<html >

<head>
    <title>My Receipts</title>
</head>

<body>

    <main>

    </main>
</body>

</html>
