{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initail-scale=1.0">
    <title>My Receipts</title>
</head>
    <body>
        {% block header %}
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                        <li><a href="{% url 'category_list' %}">Categories</a></li>
                        <li><a href="{% url 'account_list' %}">Accounts</a></li>
                        <li><a href="{% url 'create_category' %}">Create Categories</a></li>
                        <li><a href="{% url 'create_account' %}">Create Accounts</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% endblock header %}
        <main>
            {% block main %}{% endblock main %}
        </main>
    </body>
</html>
